@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800;900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    text-decoration: 0;
}

header {
    width: 100%;
    height: 90px;
    background-color: #0734F2;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 6px -2px rgba(0, 0, 0, 0.35);
}

#logo {
    height: 100%;
    width: auto;
    background-color: #0734F2;
    object-fit: cover;
}

.formulario {
    width: 600px;
    height: 700px;
    border: 3px solid #F2B707;
    border-radius: 50px;
    background-color: #0734F2;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 6px 10px 2px rgba(0, 0, 0, 0.40);
}

form {
    font-family: 'Poppins', sans-serif; 
    font-weight: 700;


}

form h1 {
    color: white;
    font-size: 30px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    
}

form label {
    margin-left: 10px;
    margin-bottom: 2px;
    color: white;
}

form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

form input {
    outline: none;
    padding: 20px;
    min-width: 200px;
    border: 2px solid #F2B707;
    border-radius: 20px ;
    font-size: 16px;
    font-weight:500;
}

.comfirma_senha {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.senha1 {
    margin-right: 5px;
    margin-bottom: 0px;
}

.senha2 {
    margin-bottom: 0px;
}

form input:focus {
    background-color: #80ecff;
}

form input[type=submit] {
    background-color: #F2B707;
    color: black;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
    transition: 1s;
}

form input[type=submit]:hover {
    transform: scale(1.02);
}

.clique_aqui {
    margin-left: 10px;
    color: white;
    font-weight: 100;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90px;
    background-color: #0734F2;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


footer img {
    height: 80%;
    width: auto;
    background-color: #0734F2;
    
}

footer div {
    margin-left: 30px;
    color: white;
}
