
#main__banner {
    max-height: 400px;
}

.main__banner__carrossel {
    width: 100%;
    height: 380px;
    margin-bottom: 5%;
}

.main__banner__carrossel__imagem {
    max-width: 100%;
    min-width: 100%;
}

#main__quemsomos {
    box-shadow: inset 0 -6px 8px -2px rgba(0, 0, 0, 0.35);
}

#div-main__quemsomos {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem;
}

.main__quemsomos__apresentacao {
    font-size: 1rem;
    padding: 0 2rem;
    text-align: justify;
}

.main__quemsomos__beneficios {
    background-color: var(--azulEscuro);
    padding: 20px;
    color: var(--brancoAbsoluto);
    text-align: center;
    border-radius: 5px;
}

.beneficios__lista__item {
    font-size: 1.25rem;
    font-weight: 200;
    margin: 1.5rem;
}

#main__convite {
    min-height: 200px;
    padding-bottom: 40px;
}

#divcontainer-main__convite {
    padding: 0 100px;
    max-width: 90%;
}

#main__convite__frase {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}

#main__emalta {
    box-shadow: inset 0 8px 6px -2px rgba(0, 0, 0, 0.35);
}

#main__convite__criarconta {
    text-align: center;
}


#main__facaparte {
    color: white;
    width: 99%;
    max-height: 350px;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

#main__facaparte h2 {
    padding-top: 50px;
}

#main__facaparte span {
    vertical-align: bottom;
}

#div-main__facaparte {
    background-image: url(../medias/banners/bg_secao-crieconta.png);
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 350px;
    box-shadow: inset 0 8px 6px -2px rgba(0, 0, 0, 0.35);
}
