#divcontainer-principal__perfil__perfil {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.divcontainer-principal__perfil__item {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 8px 6px -2px rgb(0 0 0 / 35%);
    min-height: 200px;
    margin: 0.5rem;
}

#principal__perfil__perfil__conta {
    background-color: var(--brancoAmeno);
}

.div-botoes-center {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    text-align: center;
    padding: 0 auto;
}

#divcontainer-principal__perfil__historico {
    min-height: 150px;
    max-height: 150px;
}


#h2black {
    color: black;
}

.tab-emprestimos {
    
    width: 80%;
    margin: 1rem auto;
}

.tab-colunas {
    border: solid 1px var(--amareloPrincipal);
    border-spacing: 1rem;
    width: 100px;
    vertical-align: middle;
}

.tab-linhas {
    border: solid 1px var(--amareloPrincipal);
    height: 30px;
    text-align: center;
    
}

