#div-novoitem {
    flex-direction: column;
}

.div-fieldsets__cadainfo {
    justify-content: space-between;
    display: flex;
    width: 100%;
}

.div-fieldsets__cadainfo label {
    width: 25%px;
}

.div-fieldsets__cadainfo input {
    width: 70%;
    
}

#categoria {
    border: 2px solid #F2B707;
    outline: none;
    border: 2px solid #F2B707;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 5px;
}

#input-detalhes {
    height: 100px;
}

#input-preco {
    width: 30%;
}

#button_novoitem {
    margin: 2rem;
    display: flex;
    justify-content: space-around;
}