@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

/*img {
    max-width: 100%;
    display: block;
}*/

header {
    width: 100%;
    height: 90px;
    background-color: #0734F2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav_menu {
    width: 40%;
}

.lista_menu {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.menu {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 20px;
    cursor: pointer;
    transition: .5s;
    padding: 10px;
}

.menu > a {
    text-decoration: none;
}

.menu > a:visited {
    color: white;
}

.menu:hover {
    transform: scale(1.10);
    color: #F2B707;
    transition: all 100ms ease-in;
}

.menu > a:visited:hover {
    transform: scale(1.10);
    color: #F2B707;
    transition: all 100ms ease-in;
}



.banner {
    background-image: url('https://ead.pucpr.br/hubfs/pucpr_E4_campanha2_A_bannersite_1600x400.png');
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 600px;
    box-shadow: inset 0 8px 6px -2px rgba(0, 0, 0, 0.35);
    
}

.item_categorias_text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.item_categorias_text > div {
    padding: 5px 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
}

.text_categorias {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    margin: 80px auto;
}

.categorias {
    max-width: 1200px;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
}

.item_categorias {
    flex-grow: 1;
    flex-basis: 0;
    min-width: 33.33%;
    border: 2px solid white;
    border-radius: 5px;
    box-sizing: border-box;
    height: 300px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: 0.1s;
}

.item_categorias:hover {
    transform: scale(1.10);
    transition: all 100ms ease-in;
}


.text_tendencias {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    margin: 40px;
}

.tendencias {
    margin-top: 20px;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.item_tendencias {
    border: 1px solid #ddd ;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    box-shadow: inset 0 8px 6px -2px rgba(0, 0, 0, 0.35);
}

.img_tendencias {
    height: 200px;
    background-position: center;
    background-size: cover;
}

.titulo_item {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    margin-bottom: 10px;
}

.descricao_item {
    color: #666;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;

}

.price {
    font-family: 'Poppins', sans-serif;
    font-style: italic;
}

button {
    outline: none;
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    margin: 10px 0;

}

footer {
    margin-top: 80px;
    width: 100%;
    height: 90px;
    background-color: #0734F2;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


footer img {
    height: 80%;
    width: auto;
    background-color: #0734F2;
    
}

footer div {
    margin-left: 30px;
    color: white;
}



/*responsividade*/
@media (max-width: 768px) {
    .nav_menu {
        display: none;
    }
    .banner {
        display: none;
    }

    header {
        box-shadow: 0 8px 6px -2px rgba(0, 0, 0, 0.35);
    }
}

@media (max-width: 1000px) {
    .item_categorias {
        min-width: 50%;
    }

    .tendencias {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 800px) {
    .item_categorias {
        min-width: 100%;
    }

    .tendencias {
        grid-template-columns: 1fr;
    }
}
