@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800;900&display=swap');



.container-cabecalho__log {
    background-color: var(--azulEscuro);
    filter: grayscale(0.2);
    padding: 2rem 1rem 0 1rem;
    line-height: 1rem;
    border-radius: 20px;
    height: auto;
    margin: 0.5rem;
    text-align: end;
    color: var(--amareloPrincipal);
    font-size: 0.8rem;
}